.sub-nav {
  margin-bottom: 5px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;

  li {
    padding: 1rem;
    border-bottom: none;
    font-weight: bold;


    &:hover {
      border-bottom: 5px solid #000;
      margin-bottom: -5px;
    }

    &.active {
      border-bottom: 5px solid #000;
      margin-bottom: -5px;
    }

    a {
      text-decoration: none;
      div {
        //font-size: 1.4rem;
      }
    }
  }
}
