.sidenav {
  width: 96px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0.5;

    &:hover {
      font-weight: bold;
      opacity: 1;
    }
    &.active {
      font-weight: bold;
      opacity: 1;
    }
  }
}

.logo {
  margin: 20px;
}

.sidenav-divider {
  margin: 10px 13px;
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  li {
    padding: 0.8rem;
  }
}
