<div class="sidenav">
  <div>
    <a [routerLink]="['/' + path.Dashboard]" routerLinkActive="active">
      <img class="logo" src="./../../../assets/icon/sidenav/logo.svg" alt="logo">
    </a>
    <mat-divider class="sidenav-divider"></mat-divider>
    <ul class="sidenav-menu">
      <ng-container *ngFor="let navItem of navItems">
        <li>
          <a [routerLink]="[ '/' + navItem.link]" routerLinkActive="active">
            <img class="sidenav-item__img" src="./../../../assets/icon/sidenav/{{navItem.icon}}.svg" alt="{{navItem.icon}}">
            <div>{{navItem.label}}</div>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div style="margin-bottom: 30px">
    <a [routerLink]="['/' + path.Dashboard]">
      <img src="./../../../assets/icon/sidenav/settings.svg" alt="settings">
    </a>
  </div>
</div>
