<section class="content">
  <article class="faq-article">
    <h2>Which language is education at Oxford Prime Academy in?</h2>
    <p>All subjects at our school are taught in English. This includes absolutely all disciplines for all age groups. Foreign languages are taught in the foreign language itself with translation into English.</p>
  </article>

  <article class="faq-article">
    <h2>Why classes at Oxford Prime Academy cannot exceed 8 pupils?</h2>
    <p>We use an individual approach to each child. We think that for a child's formation, is it very important to acknowledge his or her personality and to give the child an opportunity to be him- or herself. 8 children per group - this is a quantity which gives us this opportunity. A larger number of pupils would unavoidably lead to rules, which would limit such an approach.</p>
  </article>

  <article class="faq-article">
    <h2>Does Oxford Prime Academy have a license?</h2>
    <p>Yes, our school is accredited by Edexcel Pearson (United Kingdom) for examination according to British curriculum. All examinations are held on the territory of our exam centre in Kyiv, while the submitted exam papers are marked by an independent commission in the UK. Based on exam marks, pupils are awarded British qualifications. Upon completion of Oxford Prime Academy, these qualifications enable our pupils to apply to any university in the UK and most of universities around the world.</p>
  </article>

  <article class="faq-article">
    <h2>What are the age groups of pupils taught?</h2>
    <p>Oxford Prime Academy is an international school with a curriculum and qualifications for children 4-18 years old. The school consists of a primary school for pupils up to the age of 13 years old and a senior school for pupils up to 18 years old. The primary school currently is open for admission for children 4-10 years old. The senior school is open for GCSE and A-Level examinations.</p>
  </article>

  <article class="faq-article">
    <h2>What is the time schedule of Oxford Prime Academy?</h2>
    <p>The school day runs from 08.45 to 18.00, with children often arriving earlier and leaving later. Children have a programme consisting of academic and non-academic lessons and get to choose many of the co-curricular activities themselves. They eat 4 times per day, play in the fresh air and have plenty of opportunities for sports both during the breaks and during the study programme.</p>
  </article>

  <article class="faq-article">
    <h2>Why is Chinese learnt in-depth at Oxford Prime Academy?</h2>
    <p>I (Yevgeny Babynin, Headmaster of Oxford Prime Academy) encounter business opportunities in different countries all the time. It is obvious to me that China, and Asia in general, will play a crucial role in the world economy during the lifetime of our pupils. It may sound uncommon today, but the knowledge of Chinese will be just as vital as the knowledge of English today, and will definitely open many opportunities.</p>
    <p>At our school, Chinese is learnt from the youngest classes at the age of 4. Many lessons are in a form of games. We strive for our pupils to acquire Chinese at a fluency level, where natural conversation precedes learning grammar.</p>
  </article>

  <article class="faq-article">
    <h2>Can my child study a second European foreign language?</h2>
    <p>Yes, Oxford Prime Academy prides itself for the individual approach to each child and it is possible to study even those subjects, which are not normally included in the general programme. At the same time, we draw parents’ attention to the fact that normally our pupils become absolutely fluent in English within 1 year - our language acquisition approach allows to master other European languages in a similar manner. However, normally there is a big advantage in learning first a more difficult language, such as Chinese, at a young age - and this is the focus at our school.</p>
  </article>

  <article class="faq-article">
    <h2>Is Ukrainian language taught at Oxford Prime Academy?</h2>
    <p>At Oxford Prime Academy children can choose to study Ukrainian or Russian after their second year at school.</p>
    <p>As it might be important for Ukrainian or Russian native-speakers, let us explain. We aim that children master English at an early age and do so in all nuances of free expression of their thoughts. We are convinced that it is important for their future since we strive for the children not only to be fluent in English but to feel themselves free and confident as citizens of the world. And this includes eloquent speaking without an accent, fast absorbing of information and free communication in any social group without a feeling of limitations. This is especially important for those children whose native language is not English. After the acquisition of English at this level, children can learn Ukrainian and Russian language and grammar within a fairly short period of time.</p>
  </article>

  <article class="faq-article">
    <h2>Our child does not know English. Can he or she study at Oxford Prime Academy?</h2>
    <p>Many children apply to Oxford Prime Academy without prior knowledge of English. From our experience, in such a case a child can freely express his or her wishes in English after 3-4 weeks and can speak absolutely fluently after 3-8 months, depending on a child. We encourage an application to Reception class, as the first step of Oxford Prime Academy, which would give a child an opportunity to immerse into the English-speaking environment without an academic overload.</p>
  </article>
</section>
