<section class="content">

  <h2>School of Early Years (4-7)</h2>

  <p>At Oxford Prime Academy, your child is able to start education from the age of 4 onwards in Reception groups. The
    first year at school is an invaluable start to learning and serves as a preparation springboard for the first grade
    (Year 1).</p>
  <p>Reception groups function as Nurseries which help children to grow and develop in many different ways. Firstly,
    they help children to socialise and meet both other children and adults. Secondly, they help children to learn
    through play and games. Finally, nurseries help children to become more independent to think for themselves and make
    decisions. Away from their home, they learn and discover lots of other things.</p>
  <p>Starting at 4 years old, children begin a literacy and numeracy programme and take part in a wide range of
    creative, sporting, musical, indoor and outdoor activities. The children enjoy a large variety of educational and
    play equipment, which allows your son or daughter to develop and learn at their own pace. Being exposed to English
    all day long entails fast development of English listening and speaking skills.</p>
  <p>Pupils are taught by enthusiastic, qualified staff who care for them as individuals and encourage them to develop
    to their full potential.</p>
  <p>Our very attractive bright and airy classrooms and small groups provide a perfect learning environment for the
    children. Our learners are looking forward to returning to school since they are enjoying here so much with plethora
    of equipment spread around, such as Lego, toys, puzzles, boardgames, crayons, paint, sand, paper and glue.</p>
  <p>There are no marks and homework at Reception level, however, the children’s progress is traced and the parents can
    always learn about it.</p>
  <p>Every morning starts with Ethics where pupils are encouraged to understand, be interested in and show respect to
    others, whilst also developing their own self esteem. Bullying is an issue which the school takes seriously. We have
    in place a school "anti-bullying policy" to avoid any incidents as our teachers always keep a watch on the younger
    children at playtimes. The idea is to make sure that all the children are safe and happy when they are on the school
    site.</p>

  <h2>Prep School (7-13)</h2>

  <p>Our Prep school caters primarily for children up to the age of 13 and covers the curriculum of Key Stages 2 and
    3.</p>
  <p>The mission of the Prep School is to equip a child with basic knowledge and skills to succeed in the Senior School.
    Simultaneously, it is the time when children are still eager to play and full of curiosity to discover.</p>
  <p>Our task is to embed academic aims into the engaging and fun learning environment where the child would feel happy
    and safe like at home. For this reason, our lessons are lively and challenging to encourage our pupils to think
    critically and independently. We are committed to educating the whole child with an individual in the centre, and
    the curriculum focuses not only on the academic, but also on the creative, ethic, and physical development of
    children. Young learners who study with us have the benefit of having years of smaller class size and more
    personalized attention.</p>
  <p>School days should be the most rewarding days of your child’s life. It is a time when we learn how to socialize
    successfully. It is a time when good manners, honesty, consideration and self-discipline are nurtured. We take great
    pride in our pupils' achievements, which happen in the classroom and beyond.</p>


  <h2>Curriculum</h2>

  <p>The idea of the school curriculum is to arrange a British education environment where children are exposed to
    English all day long, study by British programmes and, finally yet importantly, have fun at the same time.</p>
  <p>Our curriculum aims at intellectual, physical and emotional children’s development as well as understanding the
    world through science. We pay much attention to emotional intelligence and social skills including self-confidence,
    managing feelings and behaviour and installing rapport.</p>
  <p>The curriculum contains basic knowledge that allows teachers to develop exciting and stimulating lessons that
    simultaneously to develop the knowledge, skills and abilities of students in more accessible school curricula.</p>
  <p>What is really essential is that children are not taken away from their parents for a long time like they would if
    they were taking education abroad.</p>
  <p>Every pupil learns English, Maths, Science, Chinese, History, Geography, ICT, Art, Design & Technology, Drama and
    Music - all these subjects start in the youngest Reception class.</p>
  <p>Every pupil learns English, Maths, Science, Chinese, History, Geography, ICT, Art, Design & Technology, Drama and
    Music - all these subjects start in the youngest Reception class.</p>
  <p>From the age of nine children start to learn one of classic languages (Latin or Greek) and Religious Studies. At
    any age, pupils are free to choose other contemporary languages.</p>
  <p>For our Early Years School and Prep School, the curriculum progresses smoothly from the age of 4 until the age of
    13, culminating in entrance exams to the Senior School.</p>
  <p>Many of our pupils will choose to progress to our own Senior School. However, should they choose to continue their
    education abroad, they will be prepared to pass entrance and scholarship exams at the most competitive schools
    around the world.</p>
  <p>Subjects at Oxford Prime Academy</p>

  <h6 class="subject">English</h6>

  <p>The main aim for English in the curriculum is to promote high standards of language and literacy by equipping
    pupils with a strong command of the spoken and written word.</p>
  <p>In the curriculum, English is not only given as language acquisition but also as communication means in the whole
    learning process. The first skill which is focused at is listening comprehension. The quality of the students’
    speaking skills is consequently related to the efficiency of decoding the language heard. The children learn to
    understand colloquial speech in everyday communication and in a range of situations. They give their attention to
    what others say and respond appropriately. In addition, they listen to stories, accurately anticipating key events
    and respond to what they hear with relevant comments, questions or actions.</p>
  <p>Speaking skills start developing simultaneously with listening as soon as the children feel a need to express
    themselves. It is not just outlined by the list of vocabulary or a bunch of songs, but children try to express
    themselves rather effectively, using sentences starting from the Reception level. Their pronunciation and accuracy
    are mastered effortlessly in a natural way due to the continuous exposure to language patterns.</p>
  <p>Through Prep School, the course teaches pupils to generate independent and well-evidenced opinions and considered
    judgments. They give well-structured descriptions, explanations and narratives for different purposes, including for
    expressing feelings. They can participate actively in collaborative conversations, in discussions, presentations,
    performances, role play/improvisations and debates. Spoken language underpins the development of reading and
    writing.<br>English course ultimately aims to inspire pupils to read and develop a love of reading. Through early
    years it ensures that children learn spelling, punctuation and grammar and promotes clear, eligible, cursive
    handwriting. Children read selected non-fiction and fiction with various styles of writing. They practice different
    methods of writing, such as prose, poetry, letters, speeches, advertisements etc., whereby they learn to be aware of
    a point of view and ways to support it.<br>Throughout their later classes at Prep School pupils will study at least
    three literary texts in detail and undertake a range of creative writing tasks. There is also an emphasis on reading
    for pleasure and pupils are encouraged to read widely in their spare time.</p>

  <h6 class="subject">Mathematics</h6>

  <p> Since Mathematics in Ukraine has always been advanced, Oxford Prime Academy takes advantage of this fact,
    stretching our curriculum further than British syllabus. We aim that every pupil has a thorough grasp of
    Mathematics, and more importantly, is aware of the use of Mathematics in everyday life, by the end of Prep School.
    We encourage children to achieve their full potential at Mathematics as a foundation for future progress.</p>
  <p>Pupils study the following five areas of Mathematics and cover their sub-topics:</p>

  <h6 class="subject-area">Number</h6>

  <p>Percentages, Standard form, Fractions, Accuracy, Ratios, Proportion, Highest Common Factors and Lowest Common
    Multiples, Using a calculator efficiently, Upper and Lower Bounds and Estimation</p>

  <h6 class="subject-area">Algebra</h6>

  <p>Simplifying Expressions, Solving equations using formulae, Indices, Inequalities, Factorising and Simultaneous
    equations</p>

  <h6 class="subject-area">Graphs</h6>

  <p>Gradients, Linear graphs and Travel graphs</p>


  <h6 class="subject-area">Geometry</h6>

  <p>Circle theorems, Similar triangles, Pythagoras’ Theorem, Trigonometry of a right-angled triangle, Constructions and
    Loci</p>

  <h6 class="subject-area">Handling Data</h6>

  <p>Using frequency tables to calculate means</p>

  <h6 class="subject">Science</h6>

  <p>The programme is being edited.</p>

  <h6 class="subject">Chinese</h6>

  <p>We inspire our children to achieve fluency in Chinese by the end of Prep School. No prior knowledge of Chinese is
    expected upon entrance to Oxford Prime Academy.</p>
  <p>We use an immersion technique, whereby children speak in simple phrases from day one. By immersion, we mean that
    children observe lots of dialogues and language interaction and after some time they start to distinguish the rhythm
    and patterns. Then they acquire simple words from these streams and we play various games to get the articulation
    right. This is very interesting for younger children as it resembles nothing in common with typical teaching. In the
    process of playing, pupils learn lots of new vocabulary.</p>
  <p>They also learn spelling via exploring Chinese traditions and handicrafts. Grammar is introduced only as the last
    stage when pupils can express them freely in Chinese.</p>
  <p>The aim is that every pupil maximises his or her linguistic potential, while also develops enthusiasm and natural
    curiosity for Chinese, the traditions and culture of China.</p>

  <h6 class="subject">History</h6>

  <p>We believe that it is important for pupils to be able to analyze certain historical events rather than to know a
    fully detailed chronology. This would include the understanding the historical era of the event, preceding
    circumstances, the motivation of the key personalities, the mode of living and structure of society of that time,
    the evolution of the event etc.</p>
  <p>History for our youngest learners begins with the study of those phenomena, which spur their natural interest:
    dinosaurs - how they lived, their extinction and fossils, Stone Age man, Vikings, Normans, the Knight Crusades,
    evolution of modes of transport, developments of housing for people throughout thousands of years, construction of
    key architectural milestones around the world etc. And if these topics sound too academical, they do not for the
    children who glue together houses from different time eras and put their heroes of that time "to live” inside.</p>
  <p>In Prep School, children progress to learn the concept of chronology and place already acquired knowledge on a
    timeline. They study key epochs in greater details and cover British history from 1066 until circa 1900.</p>
  <p>We want to give children a sense of their own identity, including those who have no relation to the UK. This leads
    us to study key international events, such as First and Second World Wars with an analysis of key battles, alongside
    with military history. The wars are placed in the political, social and cultural contexts of the time with analysis
    of the development of the Cold War. Ukrainian history is studied in details in the context of wider international
    events.</p>
  <p>We encourage children to boldly identify ‘politically correct’ themes throughout the history course and to analyse
    opposing views on the subject.</p>
  <p>The ultimate aim is to provoke pupils’ enthusiasm for history and to inspire understanding of the contemporary
    world through the lens of historical events.</p>

  <h6 class="subject">Geography</h6>

  <p>We aim that geography helps children to understand the world. We teach pupils to enquire and investigate open-ended
    questions by themselves.</p>
  <p>In our Early Years School, they find answers through discussions, interactive contents and even by guessing, but
    they learn the answers with their own hands - placing things on interactive maps, glueing, drawing etc. It can be
    putting various fruits on an interactive map as to where they grow, dissecting a volcano or drawing a route for an
    appropriate means of transport to travel through a particular part of the world.</p>
  <p>When pupils progress to Prep School, they develop a global perspective by placing events to local, national and
    international levels. They gather an understanding of patterns and processes affecting a change on the Earth’s
    surface. At an older age, children acquire practical skills of observing and measuring facts confirming or rejecting
    geographical concepts.</p>
  <p>All the approaches above are applied to studying such key topics as volcanoes and earthquakes, weather and climate,
    rivers and coasts, population and settlements, industry and transport. Moreover, children have an opportunity of
    field trips to observe and experience geographical phenomena.</p>

  <h6 class="subject">ICT</h6>

  <p>ICT (Information Communication Technology) has three components in our school. Fist, it is studied as a subject in
    its own right with all pupils having lessons each week.</p>
  <p>Second, it is an integral part of all other academic disciplines. Oxford Prime Academy is equipped with modern
    interactive equipment and cutting-edge educational software. Just by going through our standard lessons, children
    become confident users of modern technology.</p>
  <p>However, the third component is the most important to us - we single out algorithmic thinking as a special way for
    a child to understand the world around us. Through our Robotics activity, children develop this way of thinking not
    only through computers, but through all sorts of chain reactions, programming Lego robots, construction of simple
    circuit boards and mechanisms with in-built algorithms etc. Pupils with abilities of algorithmic thinking are
    encouraged by all means to study more advanced programming.<br>We inspire children to think of artificial
    intelligence (AI) as their counterpart and we have a vision: in the arriving world of AI it is vitally important to
    understand the concept of AI and to be able to communicate with AI, rather than just be a standard user of AI
    products.</p>

  <h6 class="subject">Classics</h6>

  <p>At Oxford Prime Academy all pupils learn Latin from the age of nine, and in the final years of Prep School pupils
    can expect more lessons per week. The ultimate aim is to develop an awareness of the major impact and influence both
    the ancient Romans and Greeks had on Western civilization.</p>
  <p>Younger learners start with the myths of ancient Greece and the foundation stories of Rome. They proceed to explore
    the ancient history of the Romans and Greeks. The interest that pupils develop helps to understand Latin grammar and
    vocabulary. Their experiments with the usage of Latin in modern European languages lead them to discover how many
    words they already know in languages they never studied. By the end of the course, children are expected to have an
    in-depth understanding of the culture and language of the ancient Roman and Greek society with an emphasis on
    Latin.</p>

  <h6 class="subject">Religious Studies</h6>

  <p>The programme is being edited.</p>

  <h6 class="subject">Art, Design & Technology, Drama and Music</h6>

  <p>We believe that Art, Design & Technology, Drama and Music are not just subjects of our curriculum, but they present
    a way for children to express themselves. They play an important part in the overall life of the school and their
    description can be found here.</p>

</section>
