.scroll-to-top {
  z-index: 999;
  position: fixed;
  bottom: 60px;
  right: 20px;
  opacity: 0;
  transition: all 1.15s ease-out;
}

.show-scrollTop {
  opacity: 1;
  transition: all 1.15s ease-in;
}
