<header>
  <div class="search">
    <img class="search__img" src="./assets/icon/search.svg" alt="search">
    <input class="search__input" type="search" placeholder="Search here...">
  </div>
  <div class="profile">
    <div class="profile-notifications">
      <img src="./assets/icon/notification.svg" alt="notification">
      <div class="profile-notifications__circle">{{notifications.length}}</div>
    </div>
    <div class="profile-avatar" (click)="toggleProfileMenu($event)">
      <img class="profile-avatar__img" src="./assets/img/user_photo.png" alt="Username">
    </div>
    <div class="profile-dropdown"
         [ngClass]="{'profile-dropdown__up' : dropdownOpened, 'profile-dropdown__down': !dropdownOpened}" (click)="toggleProfileMenu($event)">
      <ng-container appClickOutside (clickOutside)="dropdownOpened = false">
        <ul class="profile-dropdown__menu" *ngIf="dropdownOpened">
          <ng-container *ngFor="let navItem of profileMenu">
            <li class="profile-dropdown__item">
              <a [routerLink]="[ '/' + navItem.link]" routerLinkActive="active">
                <img class="profile-dropdown__item__img" src="./../../../assets/icon/{{navItem.icon}}.svg"
                     alt="{{navItem.icon}}">
                <div>{{navItem.label}}</div>
              </a>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>
  </div>
</header>
