section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  //font-size: 10px !important;
}

button {
  width: 160px;
  height: 36px;
  color: #fff;
  border: none;
  background-color: #000;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    transform: scale(1.1);
  }
}
