<section class="content">
  <h2>Welcome message</h2>
  <p>Children are great teachers.</p>
  <p>They change our life's perception.</p>
  <p>They bring changes with their behaviour, desires, actions, questions…</p>
  <p>As adults, our task is not to interfere with the process of them becoming adults, not to impose the social norms
    and standards of the society. Our task is to observe them, to give an opportunity to express themselves and to be
    able to interact with them. It is not easy, taking into account that there are no two children alike.</p>
  <p>This is the reason our classes are limited to 6-8 children. As soon as the number of children is exceeded - such a
    group turns into a mass. This is where the individuality of the child is lost together with their unique
    self-expression.
  </p>
  <p>Children feel at home at our school.</p>
  <p>They are free to be themselves here. To live their lives. This is the place, where we recognize their mood, their
    curiosity, their investigation, their slowness, their movement, their provocation, their wish to find their own
    space.</p>
  <p>At this place, they are free to be their true selves. Neither good nor bad.</p>
  <p>We do not assess a personality. We do not stamp labels. We accept individuality and give an opportunity to express
    an
    interest in the world without a push from our side.</p>
  <p>How?</p>
  <p>Visit the school together with your child, and you will feel the frequency of this place, which cannot be described
    by
    words.</p>
  <p>It is an absence of tension in the air.</p>
  <p>It is free breathing.</p>
  <p>And it is something that takes away your breath!</p>
  <p>This is precisely the place where interest to learn is preserved.</p>
  <p>We are waiting for everyone like-minded at Oxford Prime Academy!</p>

  <h2>About us</h2>
  <p>Oxford Prime Academy is an international school located in Kyiv, Ukraine.</p>
  <p>Our school provides all-round education, including both academiс development and co-curricular activities, with all
    subjects taught in English.</p>
  <p>We believe that sensitivity to differentiation is a cornerstone of educating children.</p>
  <p>This is why our small classes of up to 8 children allow for such an individual approach to each pupil. We provide
    children with the environment where they are able to make their individual choices and, in return, we receive immense
    curiosity from them, both in academic and non-academic spheres.</p>
  <p>Our curriculum is tailored to each group and ultimately is based on international programs, leading to British
    qualifications of GCSE and A-Level.</p>
</section>
