<section class="back-wrapper">
  <img class="home-img" src="assets/img/home.png" alt="" loading="lazy">

  <!--    <div class="text-center">-->
  <!--      <a-->
  <!--        [routerLink]="['/', path.Dashboard]"-->
  <!--        -->
  <!--      >-->
  <!--        Go to dashboard-->
  <!--      </a>-->
  <!--    </div>-->
</section>

<a class="link" [routerLink]="['/']" fragment="1">View our video</a>

<section>
  <div class="screen-video">
    <div id="1" class="iframe-embed-wrapper iframe-embed-responsive-16by9">
      <iframe class="iframe-embed" src="https://player.vimeo.com/video/389500276"
              allow="autoplay; fullscreen" allowfullscreen="" width="960" height="560" frameborder="0">
      </iframe>
    </div>
  </div>
</section>
