<section>
  <div class="screen-video">
    <video autoplay="autoplay" autobuffer="true" playsinline="true">
      <source src="/assets/video/online.MOV">
      <source src="/assets/video/online.mp4">
    </video>
  </div>
</section>
<section class="content">
  <div>
    <p>In the exceptional circumstances of quarantine, Oxford Prime Academy is available at home.</p>
    <p>As far as possible, we intend to deliver the same education that pupils would otherwise have in the school,
      including not only academic lessons but also a range of co-curricular activities including sports, the creative
      arts, drama, music etc.</p>
    <p>Continuing to study from home comes with a number of new challenges, however, it also brings opportunities, a new
      study and rest balance and a different type of focus, - and our online learning style aims to exploit them
      fully.</p>
    <p>In short, Oxford Prime Academy is fully prepared to deliver education both in the school and online.</p>
    <p><a [routerLink]="['/' + path.Contact]">Contact us</a> for more details.</p>
  </div>
</section>
