$clr-base: #545454;
$clr-accent: #008000;

@font-face {
  font-family: 'TSTAR PRO';
  src: url('../../assets/font/TSTARPRO-Regular.eot');
  src: local('TSTAR PRO Regular'), local('TSTARPRO-Regular'),
  url('../../assets/font/TSTARPRO-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/font/TSTARPRO-Regular.woff2') format('woff2'),
  url('../../assets/font/TSTARPRO-Regular.woff') format('woff'),
  url('../../assets/font/TSTARPRO-Regular.ttf') format('truetype'),
  url('../../assets/font/TSTARPRO-Regular.svg#TSTARPRO-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'TSTAR PRO', 'Roboto', sans-serif !important;
  //font-size: 10px;
  //font-size: 14px;
  color: $clr-base;
}




