<section class="content">

  <article class="admissions-article">
    <h2>Admissions procedure</h2>
    <p>At Oxford Prime Academy, we are not academically selective. However, we do believe that our school has a special set of values and want to make sure that a potential pupil will fit the environment we have.</p>
    <p>You can begin an application for your child by visiting an open morning in the school, filling in our registration form or just by contacting us at +38 044 334 32 14 or via email at admissions@oxfordprime.com.</p>
  </article>

  <article class="admissions-article">
    <h2>Open Mornings</h2>
    <p>You can start your acquaintance with the school during a pre-appointed open morning. We will be happy to answer any of your questions during the visit.</p>
    <p>During the Open Morning, there will be an introduction from the Headmaster or one of our teachers. You will see a normal school day and be able to get a good impression of what life is like at Oxford Prime Academy.</p>
    <p>Please fill in the form <a href="/form_responses/new?form=morning_form">here</a> to register.</p>
  </article>

  <article class="admissions-article">
    <h2>Registration Form</h2>
    <p>A parent may register their child at Oxford Prime Academy by completing the registration form <a href="/form_responses/new?form=registration_form">here</a>. We have up to 6 places in each class with the entry procedure outlined below depending on a particular year group.</p>
    <p>You will be contacted by a member of our staff and invited to discover the school, where we will be able to interact with your child, according to his or her age group.</p>
  </article>

  <article class="admissions-article">
    <h2>Entry at 4+</h2>
    <p>After registration, we invite your child to spend some time at Oxford Prime Academy. It is a good opportunity for children to get to know the school and to experience school life. They will try different activities, which may include art, music, sport, science or an academic lesson. They will also play some games.</p>
    <p>Subject to our observations made during the visit, children will be offered places at Oxford Prime Academy.</p>
  </article>

  <article class="admissions-article">
    <h2>Entry at 7+</h2>
    <p>We invite children to discover the school. At this age, we will need to assess child’s learning skills as well as English and Mathematics knowledge.</p>
    <p>Testing and exams are always stressful for both adults and children, which consequently affects the results. However, it is never an issue with our assessment as we offer a child just a game to play.</p>
    <p>In our unique specially designed board game, a child can reach the finish successfully completing different tasks and solving questions. They may be written, oral, intellectual, linguistic, involve sports, drama acting etc.</p>
    <p>We offer places at Oxford Prime Academy based on the assessment and interaction with the child during the visit.</p>
  </article>

</section>
